link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')

script(src='/javascripts/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')