div
	div.navbar.navbar-inverse.navbar-static-top
		div.navbar-inner
			div.container-fluid
				ul.nav
					li.active.globaltabs-link
						a(href="/") Social Search
					li.globaltabs-link
						a(href="/") Social Analytics
					li.globaltabs-link
						a(href="/") Social Trends