!!!5
html
	head
		include includes/linkScript
	body
		include includes/navbar

		div

			div
				div.navbar.navbar-static-top
					div.navbar-inner.navbar-inner-logo
						div.container.container-logo
							div.row
								div.span3
									a.brand
										img(src="/images/logo.png")

			div
				div.hero-unit.gradient
					div.container-fluid
						h2.center Analysez le web Social via Twitter !
						div.navbar.center
							div.row-fluid
								form.navbar-form.form-inline(action="/search", method="POST")
									div.input-append
										input.input-xlarge(name="search", type="text", placeholder="Search", autocomplete="off")
										input.input-mini(name="count", type="number", value="10", placeholder="10", style='border-radius:0 0 0 0;')
										button.btn.btn-dark(type="submit")
											i.icon-search

