- var myTweets = JSON.parse(tweets);

!!!5
html
	head
		include includes/linkScript
	body
		include includes/navbar

		div

			div
				div.navbar.navbar-static-top
					div.navbar-inner.navbar-inner-logo
						div.container.container-logo
							div.row
								div.span3
									a.brand
										img(src="/images/logo.png")


			p #{myTweets.statuses.length}
			div
				div.hero-unit.gradient
					div.container
						h2.center Le résultat de votre recherche !
						div.navbar.center
							div.row
								table.table.table-condensed.table-bordered.table-striped
									thead
										th(style='text-align:center;') Nom
										th(style='text-align:center;') Date/Heure
										th(style='text-align:center;') Compte
										th(style='text-align:center;') Message
									tbody(style='color: black; background-color: white;')
										- for (var i = 0; i < myTweets.statuses.length; i++) {
											tr
												td(style='text-align:center;') #{myTweets.statuses[i].user.name}
												td(style='text-align:center;') #{myTweets.statuses[i].created_at}
												td(style='text-align:center;')
													a(href="https://twitter.com/#{myTweets.statuses[i].user.screen_name}")
														p @#{myTweets.statuses[i].user.screen_name}
												td(style='text-align:center;') #{myTweets.statuses[i].text}
										- }